body {
  background-color: rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif
  
}

main {
  margin-top: 80px;
  min-height: 650px;
  margin-bottom: 10px;
}


footer {
  background-color: #616AC6;

}

.div_rounded {
  border-radius: 10px;

}

.div_shadow {
  box-shadow: 2px 2px 10px rgb(209, 209, 209);
}

.div_tc_cn {
  position: relative;
}

.div_tc_ha {
  width: 150px;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.div_tc_tt {
  padding-top: 80px;
  margin: 80px 10px 10px 10px;
  box-shadow: 2px 2px 10px rgb(232, 232, 232);
}

h3.titile {
  margin-bottom: 0px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  background-color: rgb(244, 244, 244);
  padding: 10px;
  color: #616AC6;
  width: 100%;
  font-weight: 800;

}




i.fa {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0 0 2px #888;
      padding: 0.5em 0.6em;
      background-color: white;
      color: #616AC6;
    }


footer #QRcode{
  border-radius: 7px;
}   

.fa-footer{
  font-size: 2rem;
  margin-right: 3rem;
}


.avatar-left {
  flex-basis: 30%;
}
.text-avatar-right {
  font-size: 20px;
  padding-left: 20px;
}

a.banquyen {
  text-decoration: none;
  color: grey;
  font-size: 1.1rem;
  display: block;
  /* margin-top: auto;
  margin-bottom: auto; */
  margin-bottom: 2px; 
  text-align: center;

}

a.banquyen:hover {
  text-decoration: none;
  color: #616AC6;

}

.nav-log{
  color: #616AC6;
  text-shadow: 1px 1px 2px #616AC6;
}

span.required-fill-in{
  color: red;
  font-weight: bold;
}

form label, form legend{
  font-weight: bold;
}

.error-block {
  color: red;
  /* font-weight: lighter; */
  
}

.error-block::first-letter {
  text-transform: capitalize;
  
}

header{
  
    
  /* -webkit-backdrop-filter: blur(500px); */
  /* backdrop-filter: blur(500px); */

  box-shadow: 0px 2px 10px rgb(223, 223, 223);
}





.navbar-light .navbar-nav .nav-link{
  color: rgb(44, 44, 44);
  font-size: 20px;
 
  
  
}
.dropdown-item {
  font-size: 20px;
}


.navbar-light .navbar-brand{
  font-size: 25px;
  color: dodgerblue;
  text-shadow: 1px 1px 1px rgb(121, 183, 245);
  font-weight: 600;
} 